doctype html 

html 
    head 
        title Artists
        meta(charset="UTF-8")
        script(src="artists.js")

    body(onload="init()")
        include ../partials/header.pug

        if follows.length == 0
            h1 No Followed Artists
        else 
            h1 Followed Artists:

        each artist in follows
            a(href=`/artist/${artist}`) #{artist}'s Page
            button(type="submit" id=`${artist}` class="unfollow") Unfollow
            br