doctype html 

html 
    head 
        title Unauthorized
        meta(charset="UTF-8")

    body
        include ../partials/header.pug

        h1 You are unauthorized to enter this page. 
        