div#header
    a(href="/home") Home            
    a(href="/followed") Followed Artists            
    a(href="/artwork") All Artworks         
    a(href="/likedArtworks") Liked Artworks         
    a(href="/notifications") Notifications  
    a(href="/addArtwork") Add Artwork               
    a(href="/addWorkshop") Add Workshop              
          